
div {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
html,
body {
width:100%;
height:100%;
margin:0px;
padding:0px;
overflow-x: hidden; 
}

body {
  overflow-x: hidden;
}

/* page section */

.page-section {
  padding: 1rem 0;
}
.page-section h2.section-heading {
  font-size: 28px;
  margin-top: 0rem;

}
.page-section h3.section-subheading {
  font-size: 1rem;
  font-weight: 400;
  /* font-style: italic; */
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-bottom: 4rem;
}

@media (min-width: 768px) {
  section {
    padding: 9rem 0;
  }
}

/* About  */

.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}
.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: "";
  background-color: #494b4e;
}
.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}
.timeline > li:after, .timeline > li:before {
  display: table;
  content: " ";
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #f9813a;
  border-radius: 100%;
  background-color: #fed136;
}
.timeline > li .timeline-image h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
  font-size:22px;
}
.timeline .timeline-heading h4.subheading {
  text-transform: none;
  font-size:22px;
}
.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}
@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}

/* team */

.team-member {
  margin-bottom: 3rem;
  text-align: center;
}
.team-member img {
  width: 14rem;
  height: 14rem;
  border: 0.5rem solid #f9813a;
}
.team-member h4 {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.footer {
  text-align: center;
  font-size: 0.9rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.carousel .item {
  height: 700px;
}

 /* nav */
.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 700px;
    width:100%;
}
.loc
{
  /* padding: 4px 34px 2px; */
  float:right;
  color:black;
  font-size:16px;
}
.list-inline-item{
  margin-left:20px;
}
.b
{
  float:right;
  background-color:#f58634;
  padding:12px;
  color:white;
  font-weight:bold;
  /* margin-right:90px; */
}
.b:hover
{
  color:white;
}
.sub
{
  font-size: 14px;
  font-weight: 400;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color:gray;
}
.logo
{
  margin-left:50px;
}
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {

  .loc
  {
    display:none;
  }
    .b
  {
    display:none;
  }
  .sub
  {
    display:none;
  }
  .ico{
    display:none;
  }
}
/* phone */
@media only screen and (max-width : 470px) {
  .logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:60px;
    width:90px;
  }
}

/** Tablet **/
@media only screen and (min-width : 768px) and (max-width : 1024px) {

    .loc
    {
      display:none;
    }
    .sub
    {
      display:none;
    }
    .ico{
      display:none;
    }

}
.ico
{
  /* margin-left:69px; */
  color:#f9813a;
  
}

.header
{
  /* padding-top:8px; */
  background-color: white;
  padding:8px;
}
.topheader
{
  background-color:#f9813a;
  color:white;
  margin:0px;
  padding:5px;
}
.login
{
  position:relative;
  float:right;
  margin-right:13px;
  font-size:13px;
  padding:3px;
  background-color:#f9813a;
}
.signup
{
  position:relative;
  float:right;
  margin-right:32px;
  font-size:13px;
  padding:3px;
  background-color:#f9813a;
}
hr{
  height:1.5px;
  border-width:0;
  background-color:gray;
}
hr .cp{
  height:1.5px;
  border-width:0;
  background-color:gray;
}
.parallax
  {
    background-image: url("../img/para.jpeg");

    min-height:400px;

    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    opacity:1;
  }
    
    /* Heading for Parallax Section */ 
    .parallax h3 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 22px;
    text-align: center;
    padding-top: 3px;
    line-height: 100px;
    font-family:inherit;
    }
    .box .l {
      color: rgba(255, 255, 255, 0.8);
      font-size: 13px;
      text-align: center;
      font-family:inherit;
      }
  .jumbotron
  {
    margin-bottom: 0;
  }
  .box{
    background-color: #1a1c20;
    border-radius:10px;
    padding:10px;
    box-shadow: 0px 0px 0px 8px #f58634;
  }
  .q
  {
    font-size: 28px;
  }
  

p {
  line-height: 1.75;
}

.text-faded {
  color: rgba(255, 255, 255, 0.3);
}

.site-heading {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1;
  font-family: 'Raleway';
}

.site-heading .site-heading-upper {
  display: block;
  font-size: 2rem;
  font-weight: 800;
}

.site-heading .site-heading-lower {
  font-size: 5rem;
  font-weight: 100;
  line-height: 4rem;
}


.bg-faded {
  background-color: rgba(255, 255, 255, 0.85);
}

#mainNav {
  background-color: #f4f5db;
  margin-top:0px;
}

#mainNav .navbar-brand {
  color: #e6a756;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 0;
  /* margin-left:5px; */
}

#mainNav .navbar-nav .nav-item.active .nav-link {
  color: #f58634;
  /* margin-left:32px; */
}

/* @media (min-width: 992px) { */
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 0.9rem;
    color:#f7f8f8;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #f58634;
  }
  #mainNav .navbar-nav .nav-item.active .nav-link:hover {
    color: #f58634;
  }
/* } */
.connav
{
  margin-left:14%;
}
.btn-md {
  font-weight: 700;
  font-size: 0.7rem;
  padding-top: 1.0rem;
  padding-bottom: 1.0rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color:#f58634;
}

/* Home */

.intro {
  position: relative;
}

@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
  .intro .intro-text {
    position: relative;
    font-size: 3px;
  }
  .intro .intro-img{
    display:none;
  }
  
}
@media (min-width: 992px) {
  .intro .intro-img {
    width: 75%;
    float: right;
  }
  .intro .intro-text {
    left: 50px;
    width: 40%;
    margin-top: 3rem;
    position: absolute;
  }
  .intro .intro-text .intro-button {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -2rem;
  }
}

@media (min-width: 1200px) {
  .intro .intro-text {
    width: 45%;
  }
}

.cta {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #f58634;
}

.cta .cta-inner {
  position: relative;
  padding: 2px;
  margin: 1px;
  background-color: #653316;
}

.cta .cta-inner:before {
  border-radius: 0.5rem;
  content: '';
  position: absolute;
  top: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  border: 0.25rem solid rgba(255, 255, 255, 0.85);
  z-index: -1;
}

@media (min-width: 992px) {
  .about-heading .about-heading-img {
    position: relative;
    z-index: 0;
  }
  .about-heading .about-heading-content {
    margin-top: -5rem;
    position: relative;
    z-index: 1;
  }
}

@media (min-width: 992px) {
  .product-item .product-item-title {
    position: relative;
    z-index: 1;
    margin-bottom: -3rem;
  }
  .product-item .product-item-img {
    position: relative;
    z-index: 0;
    max-width: 60vw;
  }
  .product-item .product-item-description {
    position: relative;
    z-index: 1;
    margin-top: -3rem;
    max-width: 50vw;
  }
}

.list-hours {
  font-size: 0.9rem;
}

.list-hours .list-hours-item {
  border-bottom: 1px solid rgba(230, 167, 86, 0.5);
  padding-bottom: .25rem;
  margin-bottom: 1rem;
  font-style: italic;
}

.list-hours .list-hours-item.today {
  font-weight: bold;
  color: #e6a756;
}

@media (min-width: 992px) {
  .list-hours {
    width: 50%;
    font-size: 1.1rem;
  }
}

.address strong {
  font-size: 1.2rem;
}
/* footer */
.footer {
  background-color: rgba(47, 23, 15, 0.9);
}

.text-primary {
  color: #e6a756 !important;
}

.bg-primary {
  background-color: #e6a756 !important;
}

.btn {
  box-shadow: 0px 3px 3px 0px rgba(33, 37, 41, 0.1);
}

.btn-primary {
  background-color: #e6a756;
  border-color: #e6a756;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #df902a;
  border-color: #df902a;
}

.font-weight-light {
  font-weight: 100 !important;
}

.site-footer
{
  background-color:#141010;
  padding:70px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;

}

.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:black;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373;
  font-size:14px;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#f9813a;
  text-decoration:none;
}
.line
{
  font-size:10px;
  color:#535353;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.foot .copyright-text
{
  margin:0;
  color:#666666;
}

@media (max-width:767px)
{
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  list-style:none;
  float:left;
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    font-weight:600
  }
}
a {
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}
.btnD2,
.btnD2:hover
{
background: #262626;
color: #f9813a;
border-radius: 5px;
padding: 10px 20px;
float:left;
margin-left:13px;
}

/* contact */

#contact
{
position: relative;
padding: 50px 0;
/* background: url(./travel_photos/co.jpg); */
background-size: cover;
min-height: 60vh;
background-color: #ff9b53;
}
#contact form
{
position: relative;
z-index: 1000;
}
#contact .form-control
{
border: none;
border-bottom: 2px solid black;
height: 50px;
border-radius: 0;
color: #fff;
font-size: 1.25rem;
background-color: #ff9b53;
width:80%
}
#contact .form-control:focus,
#contact .form-control:hover
{
border: none;
border-bottom: 2px solid rgba(255,255,255,1);
box-shadow: none;
}
#contact .textarea
{
min-height: 100px;
}
#contact label
{
color: black;
font-size: 1.0rem;
}
.foot
{
  font-size:14px;
  padding:10px;
  margin:0px;
  background-color:black ;
}
.recent-post
{
  list-style: none;
}
span .cal
{
  padding:9px;
  background-color: #000000;

}
span .cal .date
{
  font-size:25px;
}
span .cal .month
{
  font-size:12px;
  /* font-weight: bold; */
  color:white;
}
.title
{
  padding:10px;
  color:white;
  font-size:14px;
}
.subtitle
{
  color:gray;
  font-size:12px;
}
.ic
{
  padding:14px;
  color:#f9813a;
}
.borbox .topic
{
  font-size: 17px;
  color:white;
  padding:1px;
}
.subtopic
{
  font-size: 14px;
  color:gray;
}
.borbox
{
  padding-left:10px;
  margin-top:20px;
  margin-left:80px;
  border:1px solid gray;
  width:200px;
}
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
  .site-footer{
    padding:30px;
  }
  .borbox{
    padding:1px;
    margin:5px;
    width:100%;
  }
}

/* search box */

.content {
  background: inherit;
  width: 20vw;
  /* margin-left:75px; */
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.15);
  position: relative;
}

.search {
  border: 2px solid #f58634;
  position: relative;
width: 10%;
min-width: 50px;
border-radius: 30px;
  transition: width 450ms cubic-bezier(0.18, 0.89, 0.32, 1.28);

}
@media only screen and (min-width : 1224px) {
  .content{
    margin-left:75px;
    
  }
  .search{
    float: right;
    margin-left:80px;
  }
}

.search__input {
  border: 0;
  padding: 0.25em 1em;
  flex-grow: 1;
  outline: 0;
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  left:17px;
  width: 100%;
  background: transparent;
  opacity: 0;
  cursor: pointer;
}

.search__submit {
  font-size: 1.5rem;
  margin-right: auto;
  background: 0;
  border: 0;
  cursor: pointer;
  border-radius: 50%;
  transition: 200ms ease-out;
  width: 40px;
  height: 40px;
  /* color: var(--clr-body); */
}

.search:focus-within {
  
  width: 100%;

}
.search:focus-within .search__input {
  opacity: 1;
  z-index: 2;
  cursor: initial;
  width: 60%;
  color:white;
  
}
.search:focus-within .search__submit {
  /* background: var(--clr-primary); */
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.search:focus-within .search__submit:hover, .search:focus-within .search__submit:focus {
  outline: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
}
