*{
    margin:0px;
    padding:0;
    font-family:inherit;
 }
 .c{
     display:flex;
     width:100%;
     min-height:100vh;
     padding:20px;
     flex-wrap:wrap;
     box-sizing:border-box;
     text-align: center;
 }

 .c .card{
     display:flex;
     flex-direction:column;
     position:relative;
     /* margin:10px;
     height:300px; */
     overflow:hidden;
     width: 32.66%;
  margin: 3px;
  height:300px;
  align-items: center;
  justify-content: center;

 }
 @media only screen and (min-width : 768px) and (max-width : 1024px) {
    .c .card{
        width: calc(49%);
        text-align:center;
    }
}
 @media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
    .c .card{
        width: calc(98%);
        text-align:center;
    }
}

 .c .card img{
     position:absolute;
     z-index:1;
     height:100%;
     width:100%;
     object-fit:cover;
     top:0;
     left:0;
     margin:0 auto;
 }
 .c .card:hover{
    border-color:#f9813a;
    box-shadow:2px 2px 2px 2px #f9813a;

}

 .c .card .card--info
 {
     position:absolute;
     z-index:2;
     height: 100%;
     width:100%;
     display:flex;
     flex-direction:column;
     padding:10px;
     box-sizing:border-box;
     background:rgba(0,0,0,0.5);
     justify-content: flex-end;
     opacity:0;
     transition:0.3s ease;
 }

 .c .card .card--info h1
 {
     /* color:#fff; */
     font-size: 1.2em;
     font-family: inherit;
     font-style:italic;
     font-weight: normal;
     /* text-shadow:0 0 1px #ddd, 0.5px 0.5px 1px #ddd, 1px 1px 1px #ddd; */

 }

 .c .card .card--info label
 {
     /* color:#e8eae6; */
     font-size:medium;
     margin-top:20px;
 }

 .c .card .card--info button
 {
    padding:5px;
    border:none;
    outline:none;
    background: #f9813a;
    color: black;
    width:20%;
    font-size:18px;
    border-radius: 100%;
 } 

 .c .card .card--info h1,
 .c .card .card--info label,
 .c .card .card--info button
 {
     transform:translateX(-800px);
     transition:0.3s ease;
     transition-delay:0.3s;
 }

 .c .card .card--info
 {
     opacity:0.7;
     transition:0.3s ease;
     transition-delay:0.2s;
 }
 .c .card 
 {
     /* opacity:0.6; */
     background:rgba(255, 204, 41, 0.3);
 }
 .c .card:hover,
 .c .card:hover .card--info h1,
 .c .card:hover .card--info label,
 .c .card:hover .card--info button
 {
     transform:translateX(0);
     transition:0.3s ease;
     transition-delay:0.2s;
     opacity: 1;
 }

 .lightbox
 {
    position: fixed;
    top:0; left:0;
    display: flex;
    padding: 10px;
    /* justify-content: center;
    align-items: center; */
    width: 100%;
    z-index: 3;
    background:rgba(0,0,0,.5);
    min-height: 100vh;
    display:none;
    transition:0.3s ease;
     transition-delay:0.2s;
 }

 .lightbox .carousel
 {
     height:40px;
     width:40px;
     position:absolute;
     top:calc(50% - 20px);
     background:rgba(255,255,255,0.5);
     border-radius:50%;
     z-index:6;
     transition:0.3s ease;
     transition-delay:0.2s;
 }

 .lightbox .carousel span
 {
     height:3px;
     width:10px;
     position:absolute;
     left:calc(50% - 5px);
     top:calc(50% - 1.5px);
     background:rgba(0,0,0,0.8);
     border-radius:10px;
     display:block;
     transition:0.3s ease;
     transition-delay:0.2s;
 }

 .lightbox .carousel.left
 {
     left:5px;
 }

 .lightbox .carousel.right 
 {
     right:0;
     right:5px;

 }

 .lightbox .carousel.left span:nth-child(1)
 {
     transform:rotate(-30deg);
     transform-origin:left;
     transition:0.3s ease;
     transition-delay:0.2s;
 }

 .lightbox .carousel.left span:nth-child(2)
 {
     transform:rotate(30deg);
     transform-origin:left;
     transition:0.3s ease;
     transition-delay:0.2s;
 }

 .lightbox .carousel.right span:nth-child(1)
 {
     transform:rotate(-30deg);
     transform-origin:right;
     transition:0.3s ease;
     transition-delay:0.2s;
 }

 .lightbox .carousel.right span:nth-child(2)
 {
     transform:rotate(30deg);
     transform-origin:right;
     transition:0.3s ease;
     transition-delay:0.2s;
 }

 .lightbox .carousel:hover
 {
    background:rgba(255, 204, 41, 0.3);
    transition:0.3s ease;
     transition-delay:0.2s;
 }

 .lightbox .carousel:hover span
 {
     background: #fff;
     transition:0.3s;
     transition:0.3s ease;
     transition-delay:0.2s;
 }

 .lightbox button
 {
     background: rgba(255,255,255,0.5);
     position: relative;
     float: right;
     height:40px;
     width:40px;
     margin: auto 0 auto auto;
     margin-top:30px;
     /* margin-left:94%; */
     font-size:20px;
     border-radius:20px;
     line-height:20px;
     color:#000;
     transition:0.3s;
     z-index:6;
     cursor:pointer;
     /* right:-12px; */
 }
 .lightbox .close:hover{
     background:rgba(255, 204, 41, 0.3);
     color:#fff;
     transition:0.3s ease;
     transition-delay:0.2s;
 }
 .lightbox .carousel:hover span
 {
     background:#fff;
 }

 .lightbox img{
     position: absolute;
     height:70%;
     width:70%;
     left:50%;
     top:50%;
     transform: translate(-50%,-50%);
     object-fit:cover;
     border:1px solid #fff;
     transition:0.3s ease;
     transition-delay:0.2s;
     
 }
 hr{
    height:1.5px;
    border-width:0;
    background-color:gray;
  }



